In [9]:
import darksky_pipeline as dks

In [10]:
basetable = dks.create_basetable(('database.sqlite'), 2012)
basetable.sample(5)

,Match_ID,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,WinHome,NoWinHome,WinAway,NoWinAway,League
654,44917,2012,2012-09-22,West Brom,Reading,1,0,1,0,0,1,English Premier League
763,45026,2012,2012-12-08,Southampton,Reading,1,0,1,0,0,1,English Premier League
614,44877,2012,2012-08-18,Newcastle,Tottenham,2,1,1,0,0,1,English Premier League
514,2218,2012,2012-10-27,Mainz,Hoffenheim,3,0,1,0,0,1,Bundesliga
699,44962,2012,2012-10-28,Newcastle,West Brom,2,1,1,0,0,1,English Premier League

In [11]:
add_weather = dks.add_apis(basetable)
add_weather.sample(5)

,Match_ID,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,WinHome,NoWinHome,WinAway,NoWinAway,League,New_Date,precipIntensity
271,1975,2012,2013-04-12,Freiburg,Hannover,3,1,1,0,0,1,Bundesliga,2013-04-12T00:00:00,NaN
603,2307,2012,2012-12-07,Frankfurt FSV,Sandhausen,3,1,1,0,0,1,Bundesliga,2012-12-07T00:00:00,NaN
874,45137,2012,2013-02-23,Fulham,Stoke,1,0,1,0,0,1,English Premier League,2013-02-23T00:00:00,NaN
673,44936,2012,2012-10-06,Swansea,Reading,2,2,0,1,0,1,English Premier League,2012-10-06T00:00:00,NaN
118,1822,2012,2013-04-21,Stuttgart,Freiburg,2,1,1,0,0,1,Bundesliga,2013-04-21T00:00:00,NaN

In [13]:
final_table = dks.create_table(add_weather)
final_table.sample(5)

,TeamName,League,Season,Goals,Wins,WinPercentRainDay
10,Dresden,Bundesliga,2012,35,9,NaN
25,Ingolstadt,Bundesliga,2012,36,10,NaN
0,Aalen,Bundesliga,2012,40,12,NaN
2,Aston Villa,English Premier League,2012,47,10,0.0
27,Leverkusen,Bundesliga,2012,65,19,NaN